{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    
<section id="first-section-forget-pass" class="container-fluild">
        <header id="header-part" class="col-xs-12 col-sm-12">
              <div id="logo1" class="col-md-2">
                 <a href="{% url 'homepage' %}">
                     <img src="{% static 'm_images/sportvitaeShortLogo.png' %}" alt="logo" height="70px" class="padding-5px" >
                 </a>
              </div>
        </header>
        <div class="margin-top-100px col-xs-12 col-sm-12 no-padding" id="password-resetbox">
            <div class="medium-font center">
                Choose a new Password
            </div>
            <div class="col-xs-12 col-sm-12">
                <img src="{% static 'images/line.png' %}" width=300pxpx alt='line'>
            </div>
    
            <form action="" method="post"> {% csrf_token %}
             {% if form.errors.non_field_errors %}
                {{ form.errors.non_field_errors.0 }}
             {% endif %}
            <div class="col-xs-12 col-sm-12 margin-top-20px">
                   <span class="col-xs-5 col-sm-5 no-padding">New Password</span>
                   <span class="col-xs-7 col-sm-7 sv-form-control">
                       {% if form.errors.password1 %}
                         {{ form.errors.password1.0 }}
                         {% endif %}
                       {{ form.password1 }}
                   <!--<input type="password" name="password" required>-->
                   </span>
                </div>
                <div class="col-xs-12 col-sm-12 margin-top-10px">
                   <span class="col-xs-5 col-sm-5 no-padding">Confirm Password</span>
                   <span class="col-xs-7 col-sm-7 sv-form-control">
                       {% if form.errors.password2 %}
                         {{ form.errors.password2.0 }}
                         {% endif %}
                       {{ form.password2 }}
                   <!--<input type="password" name="confirm-password" required>-->
                   </span>
                </div>
    
                <div class="col-xs-12 col-sm-12 margin-top-20px" align="center">
                    <span class="col-xs-offset-2 col-xs-4 col-sm-offset-2 col-sm-4 reset-password-button">
                        <input type="submit" value="Continue" id="continue">
                    </span>
                    <span class="col-xs-4 col-sm-4 reset-password-button">
                        <input type="button" value="Cancel" id="cancel">
                    </span>
                </div>
            </form>
    </div>

</section>
{% endblock %}

{% block footer  %}
     {% include 'templates_mobile/m_footer.html' %}
{% endblock %}