{% extends 'accounts/my_wall.html' %}

{% load staticfiles %}

{% block body %}

<div class="container-fluid no-padding fluid-background">
    <!-- contener part -->
    <div class="col-md-12  content-part">
        <div class="col-md-offset-1 edit-shadow col-md-11" id="contener-2nd-part2">
            <!-- form start -->
            <form action="" method="post" name="profile-specific-form" enctype="multipart/form-data" onsubmit="return profileSpecificationValidation()">{% csrf_token %}
                {% if form.errors.non_field_errors %}
                    {{ form.errors.non_field_errors.0 }}
                {% endif %}
                <!-- <input type='hidden' name='csrfmiddlewaretoken' value='1qlOISONgQpWxRGrspOlbG4uEZRY19uV'/>-->
                <section class="col-md-12" id="profile-edit-section">
                    {{ form.errors }}
                    <div class="col-md-12 textcolor">
                        <span class="col-md-4">
                            <label for="name"> Name </label>
                        </span>
                        <span class="col-md-4 inputbackground-team" id="name-disabled">
                            {{form.name}}
                        </span>
                        <span class="col-md-4 error" id="errorname">
                            {% if form.errors.name %}
                                {{ form.errors.name.0 }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="col-md-12 textcolor">
                        <span class="col-md-4 margin-top-20px ">
                            <label for="email"> Email ID </label>
                        </span>
                        <span class="col-md-4 margin-top-20px inputbackground-team" id="email-disabled">
                            {{form.email}}
                        </span>
                        <div class="col-md-4 text-error" id="erroremail">{% if form.errors.email %}{{ form.errors.email.0 }}{% endif %}</div>
                    </div>
                    <div class="col-md-12 textcolor">
                        <span class="col-md-4 margin-top-50px">
                            <label for="display-pic"> Choose Your Display Pic</label>
                            <div class="lgall-font" style="margin-top: -8px">(Optional)</div>
                        </span>
                        <span class="col-md-2 margin-top-50px">
                            <div id="user-profile-dp-preview" data-toggle="modal" data-target="#dpCroperModal" style="background-image: url('{% if form.instance.display_picture.name %}{{ MEDIA_URL }}{{ form.instance.display_picture }}{% else %}{% static 'images/groups.png' %}{% endif %}');"></div>
                            <div class="col-md-offset-8 col-md-3" style="margin-top: -30px"><i id="display-pic-pencil" class="fa fa-pencil"></i></div>
                        </span>
                        <div class="col-md-6 display-disabled" id="profile-file1">
                            <span class="col-md-12 small-font" id="dp-crop-modal-button">Larger than : 150px x 150px </span>
                            <div id="dp-input-set">
                                {{ form.display_picture }}
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="dpCroperModal" role="dialog" tabindex="-1" aria-labelledby="Change display picture">
                                <div class="modal-dialog">
                                    <div class="modal-content margin-top-100px tranzy-background3 center">
                                        <h5 class="textcolor">Change your Display Picture</h5>
                                        <div class="padding-20px">
                                            <div class="margin-top-15px textcolor">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div id="dp-image-cropper">
                                                            <div class="col-md-8 col-md-offset-2 no-padding">
                                                                <div class="cropit-image-preview" id="dp-preview" style="background-image: url('{% if form.instance.display_picture.name %}{{ MEDIA_URL }}{{ form.instance.display_picture }}{% else %}{% static 'images/groups.png' %}{% endif %}');"></div>
                                                                <span class="col-md-12 small-font" id="dp-crop-modal-button">Larger than : 150px x 150px </span>
                                                                <div id="dp-image-error" class="center color-red font-x-small"></div>
                                                            </div>
                                                            <div class="margin-top-10px col-md-8 col-md-offset-2">
                                                                <input type="range" class="cropit-image-zoom-input range-input-style" />
                                                            </div>
                                                            <input type="file" name="abc" class="cropit-image-input" />
                                                            <div class="row">
                                                                <div class="col-md-3 col-md-offset-2">
                                                                    <button type="button" class="dp-select-image-btn dp-round-button">Upload Image</button>
                                                                </div>
                                                                <div class="col-md-3 col-md-offset-2">
                                                                    <button type="button" id="doneDpCrop" class="dp-round-button">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# form.display_picture #}
                        </div>
                    </div>
                    <div class="col-md-12 textcolor">
                        <span class="col-md-4 margin-top-50px">
                            <label for="cover-pic"> Choose your Cover Pic </label>
                            <div class="lgall-font" style="margin-top: -8px">(Optional)</div>
                        </span>
                        <span class="col-md-6 margin-top-50px">
                            <div id="user-profile-cp-preview" data-toggle="modal" data-target="#cpCroperModal" id="cp-crop-modal-button" style="background-image: url('{% if form.instance.cover_picture.name %}{{ MEDIA_URL }}{{ form.instance.cover_picture }}{% else %}{% static 'images/mywall.jpg' %}{% endif %}');" ></div>
                            <div class="pull-right" style="margin-top: -25px; margin-left: -5px"><i id="cover-pic-pencil" class="fa fa-pencil"></i></div>
                        </span>
                        <div class="col-md-2 display-disabled" id="profile-file1">
                            <span class="col-md-12 no-padding small-font" id="cp-crop-modal-button">Larger than : 300px x 150px </span>
                            <div id="cp-input-set">
                                {{ form.cover_picture }}
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="cpCroperModal" role="dialog" tabindex="-1" aria-labelledby="Change cover picture">
                            <div class="modal-dialog">
                                <div class="modal-content tranzy-background3 center">
                                    <h5 class="textcolor">Change your Cover Picture</h5>
                                    <div class="padding-20px">
                                        <div class="margin-top-15px textcolor">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="cp-image-cropper">
                                                        <div class="col-md-12">
                                                            <div class="cropit-image-preview" id="cp-preview" style="background-image: url('{% if form.instance.cover_picture.name %}{{ MEDIA_URL }}{{ form.instance.cover_picture }}{% else %}{% static 'images/mywall.jpg' %}{% endif %}')"></div>
                                                            <span class="col-md-12 small-font" id="dp-crop-modal-button">Larger than : 300px x 150px </span>
                                                            <div id="cp-image-error" class="center color-red font-x-small"></div>
                                                        </div>
                                                        <div class="margin-top-10px col-md-6 col-md-offset-3">
                                                            <input type="range" class="cropit-image-zoom-input range-input-style" />
                                                        </div>
                                                        <input type="file" name="abc2" class="cropit-image-input" />
                                                        <div class="row">
                                                            <div class="col-md-3 col-md-offset-2">
                                                                <button type="button" class="cp-select-image-btn cp-round-button">Upload image</button>
                                                            </div>
                                                            <div class="col-md-3 col-md-offset-2">
                                                                <button type="button" id="doneCpCrop" class="cp-round-button">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 textcolor margin-top-20px ">
                        <span class="col-md-4 textcolor">
                            <label for="sex"> Sex</label>
                        </span>
                        <span id="gender-container-in-edit-user" class="col-md-4">
                            {{form.gender}}
                        </span>
                        <span class="col-md-4 error">
                            {% if form.errors.gender %}
                                {{form.errors.gender.0}}
                            {% endif %}
                        </span>
                    </div>

                        <div class="col-md-12 margin-top-20px">
                            <span class="col-md-4 textcolor">
                                <label for="dob"> DOB </label>
                            </span>
                            <span id="edit-user-profile-date-container" class="col-md-4 textcolor inputbackground-team sv-form-select-control date-dropdown-container"  data-ele-id="#edit-user-profile-date-container" data-date-form-input-id="#id_date_of_birth" data-feature-date="false" data-no-of-prev-year="10" >
                                {{form.date_of_birth}}
                                <select name="edit_user_profile_year" id="year" title="Year" onchange="setDays(month,day,this,'#edit-user-profile-date-container','#id_date_of_birth',false)">
                                    <option value="0" selected>Year</option>
                                </select>
                                <select name="edit_user_profile_month" id="month" title="Month" onchange="setDays(this,day,year,'#edit-user-profile-date-container','#id_date_of_birth',false)">
                                      <option value="01">Jan</option>
                                      <option value="02">Feb</option>
                                      <option value="03">Mar</option>
                                      <option value="04">Apr</option>
                                      <option value="05">May</option>
                                      <option value="06">Jun</option>
                                      <option value="07">Jul</option>
                                      <option value="08">Aug</option>
                                      <option value="09">Sep</option>
                                      <option value="10">Oct</option>
                                      <option value="11">Nov</option>
                                      <option value="12">Dec</option>
                                      <option value="0" selected>Month</option>
                                </select>
                                <select name="edit_user_profile_day" id="day" title="Day" onchange="setDays(month,this,year,'#edit-user-profile-date-container','#id_date_of_birth',false)">
                                    <option value="01">1&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="0" selected>Day</option>
                                </select>
                            </span>
                        </div>
                    <div class="col-md-12 textcolor margin-top-20px">
                        <span class="col-md-4 textcolor">
                            <label for="country"> Country </label>
                        </span>
                        <span class="col-md-4 dropdownbackground">
                            {{form.country}}
                        </span>
                    </div>
                    <div class="col-md-12 textcolor margin-top-20px" id="state-div">
                        <span class="col-md-4 textcolor">
                            <label for="state">State </label>
                        </span>
                        <span id="state_id" class="col-md-4 dropdownbackground">
                            {{form.state}}
                        </span>
                        <span class="col=lg-4 error" id="state-error">
                            {% if form.errors.state %}
                                {{ form.errors.state.0 }}
                            {% endif %}
                        </span>
                    </div>
                    <div class="col-md-12 textcolor margin-top-20px" id="state-text-div">
                        <span class="col-md-4 textcolor">
                            <label for="state">State </label>
                        </span>
                        <span id="state_id" class="col-md-4 dropdownbackground">
                            {{form.state_text}}
                        </span>
                    </div>
                    <div class="col-md-12 textcolor" style="top: 20px;" id="city-disable">
                        <span class="col-md-4 textcolor" id="city-label">
                            <label for="city">Your Playing City </label>
                        </span>
                        <span class="col-md-4 dropdownbackground">
                            {{form.city}}
                        </span>
                    </div>
                    <div class="col-md-12 col-md-12 textcolor" style="top: 20px;" id="city-text-div">
                        <span class="col-md-4 col-md-4 textcolor" id="city-label">
                           <label for="city">Your Playing City </label>
                        </span>
                        <span class="col-md-4 col-md-4 inputbackground-team">
                           {{form.city_text}}
                        </span>
                    </div>
                    <div class="col-md-12 textcolor" style="top: 30px;">
                        <span class="col-md-3 textcolor">
                           <label for="mobileno"> Mobile No </label>
                        </span>
                        <span class="col-md-4 inputbackground-team-mobile">
                            <span class="col-md-offset-1 col-md-4 inputbackground-mobile-code no-padding" id="mobile-code" align="center">+91</span>
                            <span class="col-md-5 no-padding">
                                {{form.mobile }}
                            </span>
                        </span>
                    </div>
                    <div class="col-md-offset-4 col-md-4 margin-top-20px">
                        <button type="submit" id="save-edit-button">
                            <h4 class="margin-top-10px"><strong>Save</strong></h4>
                        </button>
                    </div>
                </section>
            </form>
            <!-- end of form -->
        </div>
    </div>
    <!-- end of right part -->
</div>
<!-- end of container part -->

{% endblock %}

{% block customscript %}
<script type="text/javascript">
   var city = {{state_to_city_choices|safe }};


//DP CROPER
$(document).ready(function(){
  var abc = $("#dp-input-set").children();
  //console.log("abc"+JSON.stringify(abc));
  $("#dp-input-set").empty();

  for(i=0; i<abc.length;i++){
    if(abc[i].tagName != 'BR'){
      $("#dp-input-set").append(abc[i]);
    }
    if(abc[i].id == 'id_display_picture'){
      $("#dp-input-set #id_display_picture").attr('type','hidden');
    }
  }
});
  $('#dp-image-cropper').cropit();
  $('.dp-select-image-btn').click(function() {
      $('#dp-image-cropper .cropit-image-input').click();
  });

  $('#dp-image-cropper .cropit-image-input').change(function(){
     //Get reference of FileUpload.
        var fileUpload = $("#dp-image-cropper .cropit-image-input")[0];

        //Check whether the file is valid Image.
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (fileUpload.files) != "undefined") {
                var reader = new FileReader();
                reader.readAsDataURL(fileUpload.files[0]);
                reader.onload = function (e) {
                    var image = new Image();
                    image.src = e.target.result;
                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        if (height < 150 || width < 150) {
                            //alert("Height and Width must not exceed 80 * 80px.");
                            $('#dp-image-error').text("Image size too small, Upload a larger Image");
                            return false;
                        }
                        //alert("Uploaded image has valid Height and Width.");
                        return true;
                    };
                }
            } else {
                alert("This browser does not support HTML5.");
                return false;
            }
        } else {
            alert("Please select a valid Image file.");
            return false;
        }

  });

$('#doneDpCrop').click(function() {
    var imageData = $('#dp-image-cropper').cropit('export', {
      type: 'image/jpeg',
      quality: .9,
      originalSize: true
    });
    if(imageData){
      $("#id_display_picture").attr("value",imageData);
      $("#user-profile-dp-preview").css('background-image','url("'+imageData+'")');
    }
    $('#dpCroperModal').modal('hide');
});
</script>

<script type="text/javascript">
//CP CROPER
$(document).ready(function(){
  var abc = $("#cp-input-set").children();
  //console.log("abc"+JSON.stringify(abc));
  $("#cp-input-set").empty();
  for(i=0; i<abc.length;i++){
    if(abc[i].tagName != 'BR'){
      $("#cp-input-set").append(abc[i]);
    }
    if(abc[i].id == 'id_cover_picture'){
      $("#cp-input-set #id_cover_picture").attr('type','hidden');
    }
  }
});

$('#cp-image-cropper').cropit();
$('.cp-select-image-btn').click(function() {
  $('#cp-image-cropper .cropit-image-input').click();
});

$('#cp-image-cropper .cropit-image-input').change(function(){
     //Get reference of FileUpload.
        var fileUpload = $("#cp-image-cropper .cropit-image-input")[0];

        //Check whether the file is valid Image.
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png|.gif)$");
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (fileUpload.files) != "undefined") {
                var reader = new FileReader();
                reader.readAsDataURL(fileUpload.files[0]);
                reader.onload = function (e) {
                    var image = new Image();
                    image.src = e.target.result;
                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        if (height < 150 || width < 300) {
                            $('#cp-image-error').text("Image size too small, Upload a larger Image");
                            return false;
                        }
                        //alert("Uploaded image has valid Height and Width.");
                        return true;
                    };
                }
            } else {
                alert("This browser does not support HTML5.");
                return false;
            }
        } else {
            alert("Please select a valid Image file.");
            return false;
        }
  });
$('#doneCpCrop').click(function() {
    var imageData = $('#cp-image-cropper').cropit('export', {
      type: 'image/jpeg',
      quality: .9,
      originalSize: true
    });
    if(imageData){
      $("#id_cover_picture").attr("value",imageData);
      $("#user-profile-cp-preview").css('background-image','url("'+imageData+'")');
    }
    $('#cpCroperModal').modal('hide');
});
</script>

<script type="text/javascript">

$(document).ready(function(){
    cid= $('#id_country option:selected').val();
    mobileCode(cid);
    if (cid!= 'IN') {
        document.getElementById("state-text-div").style.display="block";
        document.getElementById("state-div").style.display="none";
        document.getElementById("city-text-div").style.display="block";
        document.getElementById("city-disable").style.display="none";
        //document.getElementById("city-label").style.display="block";
    }else if(cid==='IN') {
        document.getElementById("state-div").style.display="block";
        document.getElementById("state-text-div").style.display="none";
        document.getElementById("city-disable").style.display="none";
        document.getElementById("city-text-div").style.display="none";
        document.getElementById("city-label").style.display="block";
        document.getElementById("city-disable").style.display="block";
    }
    //id= $('#id_state option:selected').val();
    //setCity(id);

    //FOR UPLOAD BUTTONS TO CHANGE DP
    //var child = $('#profile-file1').children('input');
    //$('#profile-file1').html(child);

});
</script>
<script type="text/javascript">
  /*var numDays = {'01': 31, '02': 28, '03': 31, '04': 30, '05': 31, '06': 30,'07': 31, '08': 31, '09': 30, '10': 31, '11': 30, '12': 31};

  function setDays(oMonthSel, oDaysSel, oYearSel)
  {
    var nDays, oDaysSelLgth, opt, i = 1;
    nDays = numDays[oMonthSel[oMonthSel.selectedIndex].value];
    if (nDays == 28 && oYearSel[oYearSel.selectedIndex].value % 4 == 0)
      ++nDays;
    oDaysSelLgth = oDaysSel.length;
    if (nDays != oDaysSelLgth)
    {
      if (nDays < oDaysSelLgth){
        oDaysSel.length = nDays;
      }else{
        for (i; i < nDays - oDaysSelLgth + 1; i++)
        {
          opt = new Option(oDaysSelLgth + i, oDaysSelLgth + i);
          oDaysSel.options[oDaysSel.length] = opt;
        }
      }
    }
    var oForm = oMonthSel.form;
    var month = oMonthSel.options[oMonthSel.selectedIndex].value;
    var day = oDaysSel.options[oDaysSel.selectedIndex].value;
    var year = oYearSel.options[oYearSel.selectedIndex].value;
    oForm.date_of_birth.value = year + '-' + month + '-' + day;
  }

      function dateFix() {
       var cDate = new Date();
       var maxYear = cDate.getFullYear()-13;
       var minYear = cDate.getFullYear()-113;
       var yearString = '';
       for (i = maxYear; i>= minYear; i--)
       {
         yearString = yearString+'<option value="'+i+'">'+i+'</option>';
       }
       yearString = yearString+'<option value="0" selected="1">Year</option>';
       $("#year").html(yearString);
       var oldDob = $("#edit-user-profile-date-container > #id_date_of_birth").val();
       if (oldDob) {
         arr = oldDob.split(' ');
         arr2 = arr[0].split('-');
         var year = arr2[0];
         var month = arr2[1];
         var day = arr2[2];
         $('#edit-user-profile-date-container > #day option[value="'+day+'"]').prop("selected","selected");
         $('#edit-user-profile-date-container > #month option[value="'+month+'"]').prop("selected","selected");
         $('#edit-user-profile-date-container > #year option[value="'+year+'"]').prop("selected","selected");

         var Sday = $('#edit-user-profile-date-container > #day');
         var Smonth = $('#edit-user-profile-date-container > #month');
         var Syear = $('#edit-user-profile-date-container > #year');
         setDays(Smonth[0],Sday[0],Syear[0]);
       }
     }


  $(window).load(dateFix);*/

</script>
{% endblock %}
