 {% extends 'accounts/my_wall.html' %}

{% load staticfiles %}
{% load shuffle %}
{% block body %}
<body class="body-background1">
    <!-- container part -->
    <div class="container-fluid chat-content-part1">
        <div class="row">
            <div class="col-md-12 no-padding chat-top2">
                <!-- start of chat top -->
                <div class="col-md-3 textcolor no-padding" align="center">
                    {% if request.user.cricketer.usp == 'BL' %}
                        {% with overall_bowling=request.user.get_overall_bowling_career_stats %}
                            <div class="col-md-12">
                                <span><img src="{% static 'images/ball.png' %}" width="15px" height="15px" alt='ball' id="bat"></span>    USP
                            </div>
                            <div class="col-md-12">
                                {% if overall_bowling.economy %}
                                    <span>Eco : {{overall_bowling.economy.1|floatformat:1}} <span class="bowling-tri-symbole"></span></span>
                                    {% else %}
                                        <span>Eco : ---</span>
                                {% endif %}

                                {% if overall_bowling.bowling_average %}
                                    <span>Avg. : {{ overall_bowling.bowling_average.1|floatformat:1 }} <span class="bowling-avg-tri-symbole"></span></span>
                                    {% else %}
                                      <span>Avg.: ---</span>
                                {% endif %}
                            </div>
                        {% endwith %}
                    {% else %}
                        {% with overall_batting=request.user.get_overall_batting_career_stats %}
                            <div class="col-md-12">
                                <span><img src="{% static 'images/bat.png' %}" width="20px" height="20px" alt='bat' id="bat"></span>    USP
                            </div>
                            <div class="col-md-12">
                                {% if overall_batting.batting_strike_rate %}
                                    <span>S.R. : {{ overall_batting.batting_strike_rate.1|floatformat:1 }}% <span class="batting-tri-symbole"></span> </span>
                                    {% else %}
                                        <span>S.R.: --- </span>
                                {% endif %}

                                {% if overall_batting.batting_average %}
                                 <span> Avg. : {{ overall_batting.batting_average.1|floatformat:1 }} <span class="batting-avg-tri-symbole"></span></span>
                                 {% else %}
                                     <span>Avg.: ---</span>
                                {% endif %}
                            </div>
                        {% endwith %}
                    {% endif %}
                </div>

                <div class="col-md-3" align="center">
                    <div class="col-md-12 textcolor">
                        <a href="{% url 'cricketer_career_performance' request.user.slug %}"><span class="textcolor"> My Performance </span> </a>
                    </div>
                </div>
                <div class="col-md-3" align="center" data-toggle="modal" data-target="#best-performance-modal">
                    <div class="col-md-12 textcolor" id="performance">
                         Best Performance
                    </div>
                </div>
                <div class="col-md-3" align="center">
                    <div class="col-md-12">
                        <a href="{% url 'connections' %}"><span class="textcolor"> My Connections</span></a>
                    </div>
                    <div class="col-md-12 textcolor">
                        {{ friends_count }}
                    </div>
                </div>
            </div>
        </div>
        <!-- end of chat top -->
        <div class="row">
            <!-- My connection -->
            <div class="row col-md-12 margin-top-20px">
                <div class="col-md-6 medium-font textcolor">
                  <strong> Notifications </strong>
                </div>
                <div class="col-md-offset-3 col-md-3">
                    <form action="{% url 'friends_search' %}" method="get">
                        <div id="header-search1">
                            <input type="text" name="q" value="" class="my-connections-search1" id="sf2" placeholder="Search friends" autocomplete="off"/>
                            <button type="submit" id="search-button"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                    <div class="my-connections-search-popup col-md-12 no-padding">
                        <div id="my-connections-search-container">
                            <!-- <div class="col-md-offset-2 col-md-8 center search-header color-red">
                                <span>My friends</span>
                            </div> -->
                            <div class="col-md-12 search-result" >

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of my connection -->
        </div>


        <div class="row">
            <div class="col-md-12">
                <!-- left part -->
                <div class="col-md-8" id="left-part-container">
                    <div class="col-md-12 padding-20px">
                        {% for user_notification in all_user_notifications  %}
                            <div class="col-md-offset-1 col-md-8 background-connection" id="background-connection2">
                                <div class="col-md-12 padding-5px textcolor">
                                   {{user_notification|safe}}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- end of left part -->
                <!-- right part container -->
                <div class="col-md-4 no-padding" id="right-part-container">
                    <!-- right part -->
                    <div class="col-md-7 no-padding" id="right-part">
                        <div class="col-md-12 no-padding" id="right-part3">
                            {% if friend_suggestions %}
                                <div class="col-md-12 textcolor padding-5px" id="connect-suggestion1" align="center">
                                    <strong> Player Suggestions </strong>
                                </div>
                                {% for friend_suggestion in friend_suggestions|shuffle|slice:":3" %}
                                    <div class="col-md-12 padding-5px user-cotainer-id-{{ friend_suggestion.id }}" id="suggestion1">
                                        {{friend_suggestion.from_user.slug}}
                                        <div class="col-md-3 no-padding">
                                            <img src="{% if friend_suggestion.display_picture %}{{MEDIA_URL}}{{ friend_suggestion.display_picture }}{% else %}{% static 'images/groups.png' %}{% endif %}" id="message-profile-dp">
                                        </div>
                                        <div class="col-md-7 small-font capitalize suggestion-name">
                                            <a href="{% url 'user_wall' friend_suggestion.slug %}"><span>{{ friend_suggestion.name }}</span></a>
                                        </div>
                                        <div class="col-md-2 padding-5px suggestion-image" data-toggle="modal" data-target="#connect-request-popup-{{ friend_suggestion.id }}">
                                            <div title="Send connect request"></div>
                                        </div>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="connect-request-popup-{{ friend_suggestion.id }}" role="dialog" tabindex="-1" aria-labelledby="send connect rquest">
                                        <div class="modal-dialog">
                                            <div class="modal-content margin-top-100px tranzy-background3 center">
                                                <h5 class="textcolor">Send Request?</h5>
                                                <div class="row margin-top-15px">
                                                    <div class="col-md-2">
                                                        <img src="{% if friend_suggestion.display_picture %}{{MEDIA_URL}}{{ friend_suggestion.display_picture }}{% else %}{% static 'images/groups.png' %}{% endif %}" id="message-profile-dp">
                                                    </div>
                                                    <div class="col-md-4 padding-5px capitalize suggestion-name">
                                                        <a href="{% url 'user_wall' friend_suggestion.slug %}">
                                                            <span class="textcolor">{{ friend_suggestion.name }}</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6 popup-circle-button-container" >
                                                        <span>
                                                            <button type="button" class="popup-circle-button" onclick="friendRequest({{ request.user.id }},{{ friend_suggestion.id }})">Yes</button>
                                                        </span>
                                                        <span>
                                                            <button type="button" class="popup-circle-button" data-dismiss="modal">No</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- Modal -->
                                <div class="modal fade" id="connect-request-send-model" role="dialog" tabindex="-1" aria-labelledby="connect request sent successfuly">
                                    <div class="modal-dialog">
                                        <div class="modal-content margin-top-100px tranzy-background3 center">
                                            <h5 class="textcolor margin-top-30px">Friend Request sent</h5>
                                            <div class="padding-20px row popup-circle-button-container" style="padding-top: 0px;">
                                                <span>
                                                    <button type="button" class="popup-circle-button" data-dismiss="modal">Ok</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 padding-5px" id="friend-suggestion-view-all-container">
                                    <div class="textcolor" id="view-all" align="center">
                                        <a href="{% url 'friend_suggestions' %}"> View All </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- end of right part -->
                </div>
                <!-- end of ringht part container -->
            </div>
            <!-- Modal -->
            <div class="modal fade" id="best-performance-modal" role="dialog" align="center">
                <div class="modal-dialog">
                    <div class="modal-content1 textcolor col-md-5 no-padding">
                        <div class="modal-body no-padding" id="performance-popup">
                            <div class="col-md-12 large-font" id="best-performance" align="center">
                                Best Performance
                            </div>
                            {% with best_performance_stats=request.user.get_best_performance_stats %}
                                {% if request.user.cricketer.profile_best_performance_display_type == 'BL' %}
                                    <div class="col-md-12" id="hidden-best-bowler-performance">
                                        <div class="col-md-12 large-font margin-top-10px no-padding">
                                            Bowler
                                        </div>
                                        <div class="col-md-12 margin-top-10px score-color no-padding">
                                            <div class="col-md-5 no-padding">
                                                Best Bowling
                                            </div>
                                            <div class="col-md-1">
                                                :
                                            </div>
                                            {% if best_performance_stats.best_bowling_wickets or best_performance_stats.best_bowling_runs %}
                                                <div class="col-md-5">
                                                    {{ best_performance_stats.best_bowling_wickets }}/ {{ best_performance_stats.best_bowling_runs }}
                                                </div>
                                            {% else %}
                                                <div class="col-md-5">
                                                    0 / 0
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-12 score-color no-padding">
                                            <div class="col-md-5 no-padding">
                                                3W
                                            </div>
                                            <div class="col-md-1">
                                                :
                                            </div>
                                            {% if best_performance_stats.three_wicket_hauls %}
                                                <div class="col-md-5">
                                                    {{ best_performance_stats.three_wicket_hauls }}
                                                </div>
                                            {% else %}
                                                <div class="col-md-5">
                                                    0
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-12 score-color no-padding">
                                            <div class="col-md-5 no-padding">
                                                5W
                                            </div>
                                            <div class="col-md-1">
                                                :
                                            </div>
                                            {% if best_performance_stats.five_wicket_hauls %}
                                            <div class="col-md-5">
                                                {{ best_performance_stats.five_wicket_hauls }}
                                            </div>
                                            {% else %}
                                             <div class="col-md-5">
                                                0
                                            </div>
                                             {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-12 large-font margin-top-10px no-padding">
                                        Batsman
                                    </div>
                                    <div class="col-md-12 margin-top-10px score-color no-padding">
                                        <div class="col-md-5 no-padding">
                                            Highest Score
                                        </div>
                                        <div class="col-md-1">
                                            :
                                        </div>
                                        {% if best_performance_stats.highest_score_runs or best_performance_stats.highest_score_balls_played %}
                                            <div class="col-md-5">
                                                {{ best_performance_stats.highest_score_runs }} ( {{ best_performance_stats.highest_score_balls_played }} )
                                            </div>
                                            {% else %}
                                              <div class="col-md-5">
                                                0 ( 0 )
                                              </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12 score-color no-padding">
                                        <div class="col-md-5 no-padding">
                                            Max. 6s
                                        </div>
                                        <div class="col-md-1">
                                            :
                                        </div>
                                        {% if best_performance_stats.max_sixes %}
                                            <div class="col-md-5">
                                               {{ best_performance_stats.max_sixes }}
                                            </div>
                                            {% else %}
                                            <div class="col-md-5">
                                                0
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12 score-color no-padding">
                                        <div class="col-md-5 no-padding">
                                            Max. 4s
                                        </div>
                                        <div class="col-md-1">
                                            :
                                        </div>
                                        {% if best_performance_stats.max_fours %}
                                        <div class="col-md-5">
                                            {{ best_performance_stats.max_fours }}
                                        </div>
                                        {% else %}
                                          <div class="col-md-5">
                                            0
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12 score-color no-padding">
                                        <div class="col-md-5 no-padding">
                                            50s
                                        </div>
                                        <div class="col-md-1">
                                            :
                                        </div>
                                        {% if best_performance_stats.fifties %}
                                        <div class="col-md-5">
                                            {{ best_performance_stats.fifties }}
                                        </div>
                                        {% else %}
                                          <div class="col-md-5">
                                            0
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12 score-color no-padding">
                                        <div class="col-md-5 no-padding">
                                            100s
                                        </div>
                                        <div class="col-md-1">
                                            :
                                        </div>
                                        {% if best_performance_stats.hundreds %}
                                        <div class="col-md-5">
                                           {{ best_performance_stats.hundreds }}
                                        </div>
                                        {% else %}
                                        <div class="col-md-5">
                                            0
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <!-- end of model -->
            </div>
        </div>

</div>
    <!-- end of container part -->
</body>
{% endblock %}


{% block customscript %}

<script>

//end of function
function markFriendRequest() {
   var pendingFriendRequestid  =[];
    {% for pendingRequest in latest_friend_requests %}
        pendingFriendRequestid.push({{pendingRequest.id}});
    {% endfor %}
   // console.log("request "+ {{pending_friend_request}})
    var data_to_send  = pendingFriendRequestid
    $.ajax({
        type : "POST",
        url : host+"api/v1/accounts/friend-requests/mark-viewed/",
        data : {
            "friend_requests_viewed": data_to_send,
        },
        success : function(success){
        },
        error : function(error) {
        }
    });
}


function markReadMessage() {
   var latest_message_id =[];
    {% for latest_message in latest_received_messages %}
        latest_message_id.push({{latest_message.sender.id}});
    {% endfor %}
    var data_to_send = {'message_sender_ids': latest_message_id}
    //console.log(JSON.stringify(data_to_send));
    //console.log("message_read "+latest_message_id);
    $.ajax({
        type : "POST",
        url : host+"api/v1/accounts/messages/mark-read/",
        data : data_to_send,
        success : function(success){
        },
        error : function(error) {
        }
    });
}


function markReadNotifications() {
   var user_notifications_viewed = [];
    {% for user_notification in latest_user_notifications %}
        user_notifications_viewed.push({{ user_notification.id }});
    {% endfor %}
    var data_to_send = {'user_notifications_viewed': user_notifications_viewed}
    $.ajax({
        type : "POST",
        url : host+"api/v1/accounts/notifications/mark-viewed/",
        data : data_to_send,
        success : function(success){
        },
        error : function(error) {
        }
    });
}

$(window).load(function() {
    markReadNotifications()
});
</script>

 <script type="text/javascript">
    $(document).ready(function(){
        $(document).click(function(){
            $(".my-connections-search-popup").slideUp(500,function(){
                $(".my-connections-search-popup .search-result").html("");
                $(".my-connections-search1").val("");
            });
        });
        $(".my-connections-search-popup").hide();
        $(".my-connections-search1").keyup(function(){
            // $(".predictive-search-result-popup").hide();
            var sQuery = $(this).val();
            if(sQuery){
                $.ajax({
                    type : 'GET',
                    url :host+'api/v1/search/friends/?q='+sQuery,
                    success : function(success){
                        // console.log("call successfully"+JSON.stringify(success));
                        var fResult="";
                        if(success.length != 0){
                            for(i=0; i<success.length; i++){
                                fResult = fResult+'<a href="/profile/'+success[i].slug+'/"><div class="col-md-12 no-padding margin-top-10px message-container-box"><div class="col-md-4"><img src="'+(success[i].display_picture || "/static/images/groups.png")+'" alt="message" id="message-profile-dp"></div><div class="col-md-7 lgall-font"><div class="col-md-12 no-padding"><strong>'+success[i].first_name+' '+success[i].last_name+'</strong></div><div class="col-md-12 no-padding">'+success[i].city_display+' , '+success[i].state_display+'</div></div></div></a>';
                            }
                            $("#my-connections-search-container .search-result").html(fResult);
                        }else{
                            fResult ='<div class="col-md-12 center no-search-result"><span>No result</span></div>';
                            $("#my-connections-search-container .search-result").html(fResult);
                        }
                        $(".my-connections-search-popup").show("blind",200);
                    },
                    error : function(error){
                    }
                });
            }else{
                $("#my-connections-search-container .search-result").html("");
                $(".my-connections-search-popup").hide("blind",200);
            }
        });
    });
</script>


<script>
    {% with overall_batting=request.user.get_overall_batting_career_stats %}
         SR0 = '{{ overall_batting.batting_strike_rate.0 }}';
         SR1 = '{{ overall_batting.batting_strike_rate.1 }}';
         AV0 = '{{ overall_batting.batting_average.0 }}';
         AV1 = '{{ overall_batting.batting_average.1 }}';
    {% endwith %}

    SR0 = parseFloat(SR0).toFixed(1);
    SR1 = parseFloat(SR1).toFixed(1);
    if(parseFloat(SR1) > parseFloat(SR0)) {
        $(".batting-tri-symbole").html('<i class="fa fa-caret-up green-tri-icon cursor-pointer" aria-hidden="true" title="Last Strike Rate: '+SR0+' , Current Strike Rate: '+SR1+'"></i>');
    } else if(SR1 == SR0) {
        $(".batting-tri-symbole").html('<i class="fa fa-minus cursor-pointer light-black-color" aria-hidden="true" title="Last Strike Rate: '+SR0+' , Current Strike Rate: '+SR1+'></i>');
    } else {
        $(".batting-tri-symbole").html('<i class="fa fa-caret-down red-tri-icon cursor-pointer" aria-hidden="true" title="Last Strike Rate: '+SR0+' , Current Strike Rate: '+SR1+'"></i>');
    }

    if(parseFloat(AV1) > parseFloat(AV0)) {
        $(".batting-avg-tri-symbole").html('<i class="fa fa-caret-up green-tri-icon cursor-pointer" aria-hidden="true" title="Last Average: '+parseFloat(AV0).toFixed(1)+' , Current Average: '+parseFloat(AV1).toFixed(1)+'"></i>');
    }else if(AV1 == AV0) {
        $(".batting-avg-tri-symbole").html('<i class="fa fa-minus cursor-pointer light-black-color" aria-hidden="true" title="Last Average: '+parseFloat(AV0).toFixed(1)+' , Current Average: '+parseFloat(AV1).toFixed(1)+'></i>');
    } else {
        $(".batting-avg-tri-symbole").html('<i class="fa fa-caret-down red-tri-icon cursor-pointer" aria-hidden="true" title="Last Average: '+parseFloat(AV0).toFixed(1)+' , Current Average:'+parseFloat(AV1).toFixed(1)+'"></i>');
    }


     {% with overall_bowling=request.user.get_overall_bowling_career_stats %}
            BEC0 = '{{ overall_bowling.economy.0 }}';
            BEC1 = '{{ overall_bowling.economy.1 }}';
            BAV0 = '{{ overall_bowling.bowling_average.0 }}';
            BAV1 = '{{ overall_bowling.bowling_average.1 }}';
     {% endwith %}

    if(parseFloat(BEC1) > parseFloat(BEC0)) {
        $(".bowling-tri-symbole").html('<i class="fa fa-caret-up red-tri-icon cursor-pointer" aria-hidden="true" title="Last Economy Rate: '+parseFloat(BEC0).toFixed(1)+' , Current Economy Rate: '+parseFloat(BEC1).toFixed(1)+'"></i>');
    } else if(BEC1 == BEC0) {
            $(".bowling-tri-symbole").html('<i class="fa fa-minus cursor-pointer light-black-color" aria-hidden="true" title="Last Economy Rate: '+parseFloat(BEC0).toFixed(1)+' , Current Economy Rate: '+parseFloat(BEC1).toFixed(1)+'"></i>');
    } else {
        $(".bowling-tri-symbole").html('<i class="fa fa-caret-down green-tri-icon cursor-pointer " aria-hidden="true" title="Last Economy Rate: '+parseFloat(BEC0).toFixed(1)+' , Current Economy Rate: '+parseFloat(BEC1).toFixed(1)+'"></i>');
    }

    if(parseFloat(BAV1) > parseFloat(BAV0)) {
        $(".bowling-avg-tri-symbole").html('<i class="fa fa-caret-up red-tri-icon cursor-pointer" aria-hidden="true" title="Last Average: '+parseFloat(BAV0).toFixed(1)+' , Current Average: '+parseFloat(BAV1).toFixed(1)+'"></i>');
    }else if(BAV1 == BAV0) {
            $(".bowling-avg-tri-symbole").html('<i class="fa fa-minus cursor-pointer light-black-color" aria-hidden="true" title="Last Average: '+parseFloat(BAV0).toFixed(1)+' , Current Average: '+parseFloat(BAV1).toFixed(1)+'"></i>');
    } else {
        $(".bowling-avg-tri-symbole").html('<i class="fa fa-caret-down green-tri-icon cursor-pointer" aria-hidden="true" title="Last Average: '+parseFloat(BAV0).toFixed(1)+' , Current Average: '+parseFloat(BAV1).toFixed(1)+'"></i>');
    }
</script>



{% endblock %}
